@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '@fontsource-variable/plus-jakarta-sans';
body{
  background-color: black;
  width: 100%;
  font-family: 'Plus Jakarta Sans Variable', sans-serif;

}
